:root {
  --blue: #5e50f9;
  --indigo: #6610f2;
  --purple: #6a008a;
  --pink: #e91e63;
  --red: #f96868;
  --orange: #fd6e0a;
  --yellow: #f6e84e;
  --green: #46c35f;
  --teal: #58d8a3;
  --cyan: #57c7d4;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #191c24;
  --gray-light: #aab2bd;
  --gray-lighter: #e8eff4;
  --gray-lightest: #e6e9ed;
  --black: #000000;
  --primary: #0090e7;
  --secondary: #e4eaec;
  --success: #00d25b;
  --info: #8f5fe8;
  --warning: #ffab00;
  --danger: #fc424a;
  --light: #ffffff;
  --dark: #0d0d0d;
  --darGraBlue: #2c2e33;
  --dark-blue: #6c7293;
}
$defult: 1.6rem;
$sm-font: 1.2rem;
$mid-font: 2rem;
$lg-font: 4rem; //Margin & Padding
$defult-pm: 0.8rem;
$mid-pm: 2rem;
$lg-pm: 4rem;
$ex-pm: 10rem;
$border: 1px solid var(--darGraBlue);
