*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Ubuntu", sans-serif;
}

html {
  // This defines what 1rem is.
  font-size: 62.5%; // 1rem = 10px, 10/16 = 62.5 %
}

body {
  @include area(auto, 100%);
  box-sizing: border-box;
  background: var(--white);
  font-size: $defult;
}

a {
  text-decoration: none;
}
